{{ define "interfaces" }}
{{ $pkg := base $.Config.Package }}
{{ template "header" $ }}

type MetadataNode interface {
	IsMetadataNode()
  IsEntity()
}

type ResourceOwner interface {
	IsResourceOwner()
  IsEntity()
}
{{ end }}
